.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 700px;
}

.main {
  display: flex;
  flex-direction: column;
  width: 1240px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.error {
  color: var(--colors-interface-error);
}
