body {
  margin: 0;
}

.modal-open {
  overflow: hidden;
}

a {
  color: var(--colors-interface-accent);
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

/* Fix for scrollbar */

@supports (scrollbar-color: auto) {
  .custom-scroll {
    scrollbar-color: #8585ad #2f2f37;
    scrollbar-width: thin;
  }

  body {
    scrollbar-color: #8585ad #2f2f37;
    scrollbar-width: thin;
  }
}
