.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin: -8px;
  padding: 8px;
  color: inherit;
  font: inherit;
  text-align: center;
  background: var(--background-alt);
  border: none;
  border-radius: 16px;
  cursor: pointer;
  transition: var(--common-transition);

  &.dragging {
    opacity: 0.7;
  }
}

.card:hover {
  opacity: 0.7;
}

.image {
  display: block;
  max-width: 100%;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.name {
  min-height: 48px;
}

.counter {
  position: absolute;
  top: 8px;
  right: 8px;
}
