.burger_ingredients {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  color: var(--text-primary-color);
  font-family: 'Jet Brains Mono', serif;
}

.menu {
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.wrapper {
  height: 100%;
  min-height: 200px;
  overflow-y: auto;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px 24px;
  margin: 0;
  padding: 0 16px;
  list-style-type: none;
}

.item {
  position: relative;
  display: flex;
  flex-basis: calc(50% - 12px);
  flex-direction: column;
  align-items: center;
}

.image {
  display: block;
  max-width: 100%;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.name {
  min-height: 48px;
}
